{% extends 'base.html' %}

{% block title %}
{% endblock %}


{% block body %}

<div class="container mt-8">
<h1>Update Post!</h1>


<form method="post">
    <input type="text" name="title" id="title" class="form-control" value="{{article.title}}" placeholder="Title">
    <textarea name="description" id="description" class="form-control" value="{{article.Description}}" placeholder="Description"></textarea>
    <textarea name="text" id="text" class="form-control nt-3" value="{{article.text}}" placeholder="Enter text"></textarea>
    <input type="submit" class="btn btn-success nt-5" value="Update">
    <input type="submit" class="btn btn-success nt-5" value="Cancel">
</form>
</div>

{% endblock %}